.App {
  text-align: center;
}

body {
  background-color: black;
  color: white;
}

h1 {
  margin: 10px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  margin: 10px;
  position: relative;
  left: 6px;
}

.search-bar .search-icon {
  position: relative;
  bottom: -3px;
  left: -30px;
}

.search-input {
  height: 30px;
  width: 20vw;
  font-size: 1rem;
  border-style:ridge;
  border-radius: 1rem;
  background-color: rgb(200, 200, 200);
}
